@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Bold.ttf');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Play';
    src: url('../fonts/Play-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}